{
    box-sizing: border-box;
}

body {
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color:purple;
}

.btn{
    position:center;
    font-size: 18px;
    background-color: Magenta;
    cursor: pointer;
    color: black;
    padding:10;
    margin:8px;
    border:2px solid purple;
}
.gohome{
    position :absolute;
    z-index:999;
    top:0;
    left:0;
    color:red;}
